In [3]:
import psycopg2
import pandas as pd

# Connect to the Neon DB
connection = psycopg2.connect(
    # Check these parameters
    host="ep-damp-dust-a11bi2qp-pooler.ap-southeast-1.aws.neon.tech", 
    port="5432",
    database="neondb",
    user="neondb_owner",
    password="Ijov0mkf6Ohl",
    sslmode="require"
)

# Create a cursor object
cursor = connection.cursor()

cursor.execute("""
SELECT "ID", "Date", "Count", "Region ID", "Disease ID", "Disease", "Region"
FROM "Kolkata";
""")
kolkata_data = pd.DataFrame(cursor.fetchall(), columns=['ID', 'Date', 'Count', 'Region ID', 'Disease ID', 'Disease', 'Region'])

# Fetch data from Delhi table
cursor.execute("""
SELECT "ID", "Date", "Count", "Region ID", "Disease ID", "Disease", "Region"
FROM "Delhi";
""")
delhi_data = pd.DataFrame(cursor.fetchall(), columns=['ID', 'Date', 'Count', 'Region ID', 'Disease ID', 'Disease', 'Region'])

# Fetch data from Pune table
cursor.execute("""
SELECT "ID", "Date", "Count", "Region ID", "Disease ID", "Disease", "Region"
FROM "Pune";
""")
pune_data = pd.DataFrame(cursor.fetchall(), columns=['ID', 'Date', 'Count', 'Region ID', 'Disease ID', 'Disease', 'Region'])

print("Kolkata Data:\n", kolkata_data)
print("\nDelhi Data:\n", delhi_data)
print("\nPune Data:\n", pune_data)

Kolkata Data:
     ID       Date  Count  Region ID  Disease ID Disease   Region
0    1   1/1/1900     44          1           1      TB  Kolkata
1    2   1/2/1900    168          1           1      TB  Kolkata
2    3   1/3/1900    146          1           1      TB  Kolkata
3    4   1/4/1900    161          1           1      TB  Kolkata
4    5   1/5/1900    134          1           1      TB  Kolkata
5    6   1/6/1900    108          1           1      TB  Kolkata
6    7   1/7/1900    133          1           1      TB  Kolkata
7    8   1/8/1900    119          1           1      TB  Kolkata
8    9   1/9/1900    112          1           1      TB  Kolkata
9   10  1/10/1900    120          1           1      TB  Kolkata
10  11  1/11/1900     90          1           1      TB  Kolkata
11  12  1/12/1900     87          1           1      TB  Kolkata
12  13  1/13/1900     91          1           1      TB  Kolkata
13  14  1/14/1900     65          1           1      TB  Kolkata
14  15  1/15/1900    310          1           1      TB  Kolkata
15  16  1/16/1900    264          1           1      TB  Kolkata
16  17  1/17/1900     72          1           1      TB  Kolkata
17  18  1/18/1900    233          1           1      TB  Kolkata
18  19  1/19/1900    258          1           1      TB  Kolkata
19  20  1/20/1900    211          1           1      TB  Kolkata
20  21  1/21/1900    216          1           1      TB  Kolkata
21  22  1/22/1900    196          1           1      TB  Kolkata
22  23  1/23/1900    176          1           1      TB  Kolkata
23  24  1/24/1900    176          1           1      TB  Kolkata

Delhi Data:
     ID       Date  Count  Region ID  Disease ID Disease Region
0   25   1/1/1900    677          2           1      TB  Delhi
1   26   1/2/1900    822          2           1      TB  Delhi
2   27   1/3/1900    828          2           1      TB  Delhi
3   28   1/4/1900    751          2           1      TB  Delhi
4   29   1/5/1900    675          2           1      TB  Delhi
5   30   1/6/1900    646          2           1      TB  Delhi
6   31   1/7/1900    590          2           1      TB  Delhi
7   32   1/8/1900    601          2           1      TB  Delhi
8   33   1/9/1900    639          2           1      TB  Delhi
9   34  1/10/1900    549          2           1      TB  Delhi
10  35  1/11/1900    591          2           1      TB  Delhi
11  36  1/12/1900    558          2           1      TB  Delhi
12  37  1/13/1900    500          2           1      TB  Delhi
13  38  1/14/1900    535          2           1      TB  Delhi
14  39  1/15/1900   1164          2           1      TB  Delhi
15  40  1/16/1900   1138          2           1      TB  Delhi
16  41  1/17/1900    412          2           1      TB  Delhi
17  42  1/18/1900   1084          2           1      TB  Delhi
18  43  1/19/1900   1041          2           1      TB  Delhi
19  44  1/20/1900   1074          2           1      TB  Delhi
20  45  1/21/1900   1093          2           1      TB  Delhi
21  46  1/22/1900   1032          2           1      TB  Delhi
22  47  1/23/1900    988          2           1      TB  Delhi
23  48  1/24/1900    957          2           1      TB  Delhi

Pune Data:
     ID       Date  Count  Region ID  Disease ID Disease Region
0   48   1/1/1900    245          3           1      TB   Pune
1   49   1/2/1900    180          3           1      TB   Pune
2   50   1/3/1900    190          3           1      TB   Pune
3   51   1/4/1900    145          3           1      TB   Pune
4   52   1/5/1900    149          3           1      TB   Pune
5   53   1/6/1900    148          3           1      TB   Pune
6   54   1/7/1900    156          3           1      TB   Pune
7   55   1/8/1900    143          3           1      TB   Pune
8   56   1/9/1900    142          3           1      TB   Pune
9   57  1/10/1900    148          3           1      TB   Pune
10  58  1/11/1900    178          3           1      TB   Pune
11  59  1/12/1900    149          3           1      TB   Pune
12  60  1/13/1900    151          3           1      TB   Pune
13  61  1/14/1900    146          3           1      TB   Pune
14  62  1/15/1900    338          3           1      TB   Pune
15  63  1/16/1900    306          3           1      TB   Pune
16  64  1/17/1900    132          3           1      TB   Pune
17  65  1/18/1900    257          3           1      TB   Pune
18  66  1/19/1900    229          3           1      TB   Pune
19  67  1/20/1900    219          3           1      TB   Pune
20  68  1/21/1900    260          3           1      TB   Pune
21  69  1/22/1900    239          3           1      TB   Pune
22  70  1/23/1900    251          3           1      TB   Pune
23  71  1/24/1900    213          3           1      TB   Pune

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
# Function to create enhanced time series plot
def create_enhanced_time_series_plot(df, city_name):
    # Ensure 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create the enhanced time series plot
    plt.figure(figsize=(14, 8))
    sns.set_style("darkgrid")
    sns.set_palette("deep")
    
    # Main line plot
    ax = sns.lineplot(x='Date', y='Count', data=df, linewidth=2, marker='o')
    
    # Add a rolling average line
    df['Rolling_Avg'] = df['Count'].rolling(window=7).mean()  # 7-day rolling average
    sns.lineplot(x='Date', y='Rolling_Avg', data=df, color='red', label='7-day Rolling Average')
    
    # Customize the plot
    plt.title(f'Time Series of Count over Days in {city_name}', fontsize=20)
    plt.xlabel('Date', fontsize=14)
    plt.ylabel('Count', fontsize=14)
    # Set maximum number of locators for DayLocator
    from matplotlib.dates import AutoDateLocator, AutoDateFormatter
    locator = AutoDateLocator(minticks=5, maxticks=20)  # Control number of ticks between 5 and 20
    formatter = AutoDateFormatter(locator)

    # Set the locator and formatter to the x-axis
    ax.xaxis.set_major_locator(locator)
    ax.xaxis.set_major_formatter(formatter)
    
    # Rotate x-axis labels
    plt.xticks(rotation=45, ha='right')
    
    # Add annotations for max and min points
    max_point = df.loc[df['Count'].idxmax()]
    min_point = df.loc[df['Count'].idxmin()]
    
    ax.annotate(f'Max: {max_point["Count"]}', 
                xy=(max_point['Date'], max_point['Count']),
                xytext=(10, 10), textcoords='offset points',
                arrowprops=dict(arrowstyle='->'))
    
    ax.annotate(f'Min: {min_point["Count"]}', 
                xy=(min_point['Date'], min_point['Count']),
                xytext=(10, -10), textcoords='offset points',
                arrowprops=dict(arrowstyle='->'))
    
    # Add a trend line
    sns.regplot(x=df.index, y='Count', data=df, scatter=False, color='green', label='Trend')
    
    # Enhance the legend
    plt.legend(title='Legend', title_fontsize='13', fontsize='11')
    
    # Add grid for better readability
    plt.grid(True, linestyle='--', alpha=0.7)
    
    # Adjust layout and display the plot
    plt.tight_layout()
    plt.show()

# Create plots for each city
create_enhanced_time_series_plot(kolkata_data, 'Kolkata')
create_enhanced_time_series_plot(delhi_data, 'Delhi')
create_enhanced_time_series_plot(pune_data, 'Pune')

# Read the CSV file
# Note: If you need additional columns for more advanced analysis, consider adding:
# - 'Category': to group data and use different colors for each category
# - 'Confidence': to show confidence intervals around the main line
# - 'Event': to mark significant events on the timeline

Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).
Locator attempting to generate 28149 ticks ([-26846.0, ..., 1302.0]), which exceeds Locator.MAXTICKS (1000).